// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css');
@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/IRANSansWeb(NoEn)_Bold.eot');
    src: url('../fonts/eot/IRANSansWeb(NoEn)_Bold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(NoEn)_Bold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(NoEn)_Bold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(NoEn)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/eot/IRANSansWeb(NoEn)_Medium.eot');
    src: url('../fonts/eot/IRANSansWeb(NoEn)_Medium.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(NoEn)_Medium.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(NoEn)_Medium.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(NoEn)_Medium.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/IRANSansWeb(NoEn)_Light.eot');
    src: url('../fonts/eot/IRANSansWeb(NoEn)_Light.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(NoEn)_Light.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(NoEn)_Light.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(NoEn)_Light.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/eot/IRANSansWeb(NoEn)_UltraLight.eot');
    src: url('../fonts/eot/IRANSansWeb(NoEn)_UltraLight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(NoEn)_UltraLight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(NoEn)_UltraLight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(NoEn)_UltraLight.ttf') format('truetype');
}

@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/IRANSansWeb(NoEn).eot');
    src: url('../fonts/eot/IRANSansWeb(NoEn).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/IRANSansWeb(NoEn).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/IRANSansWeb(NoEn).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/IRANSansWeb(NoEn).ttf') format('truetype');
}

body {
    direction: rtl;
    font-family: 'Open Sans', 'IRANSans' !IMPORTANT;
}

input:checked+svg {
    display: block;
}

.text-4xl {
    font-size: 2.55rem;
    letter-spacing: 0.1rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
// .button {
//     @apply .text-white .no-underline .rounded-lg .text-sm .py-2 .px-5;
//     box-shadow: 0 2px 7px 0 #b0eaff;
//     background-color: #47cdff;
//     &.is-outlined {
//         @apply .bg-white .border .border-blue-400 .text-blue-400;
//     }
// }
// .card {
//     @apply .bg-white .rounded-lg .shadow .p-5;
// }
// .current-day {
//     @apply .rounded .bg-blue-400 .text-white;
// }
// .calendar {
//     @apply .bg-white .rounded-lg .shadow .p-5;
// }
// .table-heading {
//     @apply .bg-yellow-400 .rounded-lg;
// }
// .table-heading-top {
//     @apply .bg-green-200 .rounded-lg;
// }
.habit-box {
    height: 190px;
    width: 120px !IMPORTANT;
}

.habit-box-critical {
    height: 190px;
    width: 190px!IMPORTANT;
    ;
}

.add-modal {
    background-image: linear-gradient(to left bottom, #f5af19, #f69400, #f67800, #f55600, #f12711);
}

.bg-physical {
    background: rgb(52, 232, 157);
    background: linear-gradient(135deg, rgba(52, 232, 157, 1) 0%, rgba(15, 52, 67, 1) 100%);
}

.physical-color {
    background: #218e70;
}

.bg-emotional {
    background: rgb(255, 0, 153);
    background: linear-gradient(135deg, rgba(255, 0, 153, 1) 0%, rgba(73, 50, 64, 1) 100%);
}

.emotional-color {
    background: #b21573;
}

.bg-spiritual {
    background: rgb(38, 208, 195);
    background: linear-gradient(135deg, rgba(38, 208, 195, 1) 0%, rgba(26, 41, 128, 1) 100%);
}

.spiritual-color {
    background: #2082a4;
}

.bg-mental {
    background: rgb(245, 175, 25);
    background: linear-gradient(135deg, rgba(245, 175, 25, 1) 0%, rgba(241, 39, 17, 1) 100%);
}

.mental-color {
    background: #f37415;
}

.bg-work {
    background: rgb(71, 118, 230);
    background: linear-gradient(135deg, rgba(71, 118, 230, 1) 0%, rgba(142, 84, 233, 1) 100%);
}

.work-color {
    background: #6469e8;
}

.bg-family {
    background: rgb(255, 81, 47);
    background: linear-gradient(135deg, rgba(255, 81, 47, 1) 0%, rgba(221, 36, 118, 1) 100%);
}

.family-color {
    background: #ef3c51;
}

.bg-friends {
    background: rgb(234, 175, 200);
    background: linear-gradient(135deg, rgba(234, 175, 200, 1) 0%, rgba(101, 78, 163, 1) 100%);
}

.friends-color {
    background: #b186b9;
}

.border-physical {
    border-color: rgb(52, 232, 157);
}

.border-emotional {
    border-color: rgb(255, 0, 153);
}

.border-spiritual {
    border-color: rgb(38, 208, 195);
}

.border-mental {
    border-color: rgb(245, 175, 25);
}

.border-work {
    border-color: rgb(71, 118, 230);
}

.border-family {
    border-color: rgb(255, 81, 47);
}

.border-friends {
    border-color: rgb(234, 175, 200);
}

.whole-line {
    text-align: justify;
}

.whole-line:after {
    content: "";
    display: inline-block;
    width: 100%;
}

path {
    fill: white;
    stroke: #fff !IMPORTANT;
}